#app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  background-color: #0097a7;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  margin: 10px;
  padding: 12px;
}
label, button, input {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
  margin: 3px;
}
label:hover, button:hover {
  background-color: #2D5BA3;
  color: white;
}
label:active, button:active {
  background-color: #0D3F8F;
  color: white;
}
#blocklyDiv {
  height: 100%;
}
#menu {
  position: absolute;
  z-index: 999;
  left: 20px;
  bottom: 20px;
}